body {
  cursor:url(../cursor/normal.cur), default; 
}

#sidebar #settings button {
  cursor:url(../cursor/pointer.cur), pointer;
}

.app.window-app.sheet.wfrp4e.actor.character-sheet .tab.main.active .main-row .movement.row-section .move-value .auto-calc-toggle {
  cursor:url(../cursor/pointer.cur), pointer;
}

.app.window-app.sheet.wfrp4e.actor.npc-sheet  .main-row .movement.row-section .move-value .auto-calc-toggle {
  cursor:url(../cursor/pointer.cur), pointer;
}

.app.window-app.sheet.wfrp4e.actor.creature-sheet  .main-row .movement.row-section .move-value .auto-calc-toggle {
  cursor:url(../cursor/pointer.cur), pointer;
}

.app.window-app .form-group input[type="range"]::-webkit-slider-thumb {
  cursor:url(../cursor/pointer.cur), pointer;
}

.token-sheet .tab[data-tab="image"] input[type="range"]::-webkit-slider-thumb {
  cursor:url(../cursor/pointer.cur), pointer;
}

#drawing-config .tab[data-tab="image"] input[type="range"]::-webkit-slider-thumb {
  cursor:url(../cursor/pointer.cur), pointer;
}

.metacurrency-value {
  cursor:url(../cursor/pointer.cur), pointer;
}

.overcast-button,
.chargen-button {
  cursor:url(../cursor/pointer.cur), pointer;
}

#effects-config .flex2::-webkit-slider-thumb {
  cursor:url(../cursor/pointer.cur), pointer;
}

#client-settings .window-content form .form-group > label,
#client-settings .window-content form .form-group select,
.app.window-app .form-group label,
#sidebar .sidebar-tab #chat-controls div.roll-type-select select,
#sidebar .sidebar-tab #chat-controls div.roll-type-select i.fas {
  cursor:url(../cursor/normal.cur), default; 
}

#client-settings section.content .submenu > button,
#client-settings .window-content button label,
form .form-group .form-fields button,
form button {
  cursor:url(../cursor/pointer.cur), pointer;
}

/* ------------------- */

#chat-controls .chat-control-icon {
  cursor:url(../cursor/normal.cur), default;
}

#module-management .package-list .package-title {
  cursor:url(../cursor/pointer.cur), pointer;
}

.window-app .window-resizable-handle {
  cursor:url(../cursor/nwse-resize.cur), nwse-resize;
}

.directory .action-buttons button {
  cursor:url(../cursor/pointer.cur), pointer;
}

/* --- Actor Sheet --- */
label {cursor:inherit;}

/* --- --- */
#players h3 {
  cursor:url(../cursor/pointer.cur), pointer !important;
}

.directory .directory-list .directory-item.folder {
  cursor:url(../cursor/pointer.cur), pointer !important;
}

/* ---------------------------------------- */
/* ---       From style.css file        --- */
/* ---------------------------------------- */
/* --- Links --- */
a {
  cursor:url(../cursor/pointer.cur), pointer;
}

/* --- Inputs --- */
input {
  cursor:url(../cursor/pointer.cur), pointer;
}

/* Checkbox Input */
label.checkbox {
  cursor:url(../cursor/pointer.cur), pointer;
}
input[type="checkbox"] {
  cursor:url(../cursor/pointer.cur), pointer;
}

/* Select Boxes */
select {
  cursor:url(../cursor/pointer.cur), pointer;
}
/* Text Areas */
textarea {
  cursor:url(../cursor/text.cur), text;
}

/* Text Input */
input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="time"] {
  cursor:url(../cursor/text.cur), text;
}

/* Radio Input */
label.radio {
  cursor:url(../cursor/pointer.cur), pointer;
}
input[type="radio"]{
  cursor:url(../cursor/pointer.cur), pointer;
}

/* Range Input */
input[type=range]::-webkit-slider-runnable-track {
  cursor:url(../cursor/pointer.cur), pointer;
}
input[type=range]::-webkit-slider-thumb {
  cursor:url(../cursor/pointer.cur), pointer;
}
input[type=range]::-moz-range-track {
  cursor:url(../cursor/pointer.cur), pointer;
}
input[type=range]::-moz-range-thumb {
  cursor:url(../cursor/pointer.cur), pointer;
}
input[type=range]::-ms-track {
  cursor:url(../cursor/pointer.cur), pointer;
}

/* --- Draggable Containers --- */
.draggable {
  cursor:url(../cursor/drag.cur), move;
}

/* --- File Picker --- */
.filepicker .directory > li {
  cursor:url(../cursor/pointer.cur), pointer;
}
.filepicker .directory > li.dir {
  cursor:url(../cursor/pointer.cur), pointer;
}
.filepicker .tiles-list li img {
  cursor:url(../cursor/pointer.cur), pointer;
}

/* --- TinyMCE Editor --- */
.dice-roll .dice-part.die {
  cursor:url(../cursor/pointer.cur), pointer;
}
.dice-roll .dice-result {
  cursor:url(../cursor/pointer.cur), pointer;
}

/* --- Chat --- */
#navigation .nav-item {
  cursor:url(../cursor/pointer.cur), pointer;
}
#navigation #scene-list .scene.view,
#navigation #scene-list .scene.context {
  cursor:url(../cursor/normal.cur), default;
}
#navigation #nav-toggle {
  cursor:url(../cursor/normal.cur), default; 
}
#navigation #scene-list .scene.nav-item {
  cursor:url(../cursor/normal.cur), default; 
}

/* --- Main Menu --- */
#menu #menu-items li {
  cursor:url(../cursor/pointer.cur), pointer;
}

/* --- Scene Controls --- */
#controls .scene-control,
#controls .control-tool {
  cursor:url(../cursor/pointer.cur), pointer !important;
}
#controls .scene-control.active,
#controls .control-tool.active,
#controls .scene-control:hover,
#controls .control-tool:hover {
  cursor:url(../cursor/normal.cur), default; 
}
#controls .active .control-tools {
  cursor:url(../cursor/normal.cur), default; 
}
#scenes .scene {
  cursor:url(../cursor/pointer.cur), pointer !important;
}

/* --- Hotbar --- */
#hotbar .macro {
  cursor:url(../cursor/pointer.cur), pointer;
}

/* --- Playlists --- */
#playlists .playlist .playlist-header .playlist-name {
  cursor:url(../cursor/pointer.cur), pointer;
}
#playlists #global-volume .playlist-header h4 {
  cursor:url(../cursor/pointer.cur), pointer;
}
#playlists-popout .global-volume::-webkit-slider-thumb,
#sidebar #playlists .global-volume::-webkit-slider-thumb {
  cursor:url(../cursor/pointer.cur), pointer;
}
#playlists-popout li.playlist:not(:first-of-type) li.sound .sound-volume::-webkit-slider-thumb,
#sidebar #playlists li.playlist:not(:first-of-type) li.sound .sound-volume::-webkit-slider-thumb {
  cursor:url(../cursor/pointer.cur), pointer; 
}

/* --- Dialog Window --- */
.dialog .dialog-buttons button {
  cursor:url(../cursor/pointer.cur), pointer;
}

/* --- HUD Application --- */
.placeable-hud .control-icon {
  cursor:url(../cursor/pointer.cur), pointer;
}

/* --- Journal Editor --- */
.tox .tox-toolbar, .tox .tox-toolbar__overflow, .tox .tox-toolbar__primary {
  cursor:url(../cursor/normal.cur), default;
}

.tox.tox-tinymce .tox-tbtn {
  cursor:url(../cursor/pointer.cur), pointer;
}

.tox .tox-tbtn--bespoke .tox-tbtn__select-label{
  cursor:url(../cursor/pointer.cur), pointer;
}

.tox .tox-menu.tox-collection.tox-collection--list{
  cursor:url(../cursor/normal.cur), default;
}

.tox .tox-collection__item {
  cursor:url(../cursor/pointer.cur), pointer !important;
}

/* ---------------------------------------- */
/* ---            Plutonium             --- */
/* ---------------------------------------- */
.btn,
a.btn,
label.btn {
  cursor:url(../cursor/pointer.cur), pointer !important;
}
.btn[disabled],
.btn.disabled,
a.btn[disabled],
a.btn.disabled,
label.btn[disabled],
label.btn.disabled {
  cursor:url(../cursor/not-allowed.cur), not - allowed !important;
}
.btn[disabled].disabled,
.btn[disabled][disabled],
.btn.disabled.disabled,
.btn.disabled[disabled],
a.btn[disabled].disabled,
a.btn[disabled][disabled],
a.btn.disabled.disabled,
a.btn.disabled[disabled],
label.btn[disabled].disabled,
label.btn[disabled][disabled],
label.btn.disabled.disabled,
label.btn.disabled[disabled] {
  cursor:url(../cursor/not-allowed.cur), not - allowed !important;
}
.help {
  cursor:url(../cursor/help.cur), help !important;
}
.help - subtle {
  cursor:url(../cursor/help.cur), help !important;
}
.clickable {
  cursor:url(../cursor/pointer.cur), pointer !important;
}
.not - clickable {
  cursor:url(../cursor/normal.cur), default !important;
}
.copyable {
  cursor:url(../cursor/copy.cur), copy !important;
}
.fltr__summary_item {
  cursor:url(../cursor/help.cur), help !important;
}
.fltr__summary_item_spacer {
  cursor:url(../cursor/normal.cur), default !important;
}
.fltr__btn_nest {
  cursor:url(../cursor/pointer.cur), pointer !important;
}
.fltr__pill {
  cursor:url(../cursor/pointer.cur), pointer !important;
}
.fltr__mini - pill {
  cursor:url(../cursor/pointer.cur), pointer !important;
}
.fltr__group - comb - toggle {
  cursor:url(../cursor/pointer.cur), pointer !important;
}
.fltr - cls__tgl {
  cursor:url(../cursor/pointer.cur), pointer !important;
}
.fltr - cls__tgl.disabled {
  cursor:url(../cursor/normal.cur), default !important;
}
/* -------- */
.rd__image {
  cursor:url(../cursor/zoom-in.cur), zoom - in !important;
}
.rd__data - embed - header {
  cursor:url(../cursor/pointer.cur), pointer !important;
}
.rd__wrp - loadbrew--ready {
  cursor:url(../cursor/pointer.cur), pointer !important;
}
.hoverborder--btm {
  cursor:url(../cursor/ns-resize.cur), ns - resize !important;
}
.hoverborder--top {
  cursor:url(../cursor/drag.cur), move !important;
}
.hoverborder__resize - n {
  cursor:url(../cursor/ns-resize.cur), ns - resize !important;
}
.hoverborder__resize - ne {
  cursor:url(../cursor/nesw-resize.cur), nesw - resize !important;
}
.hoverborder__resize - e {
  cursor:url(../cursor/ew-resize.cur), ew - resize !important;
}
.hoverborder__resize - se {
  cursor:url(../cursor/nwse-resize.cur), nwse - resize !important;
}
.hoverborder__resize - s {
  cursor:url(../cursor/ns-resize.cur), ns - resize !important;
}
.hoverborder__resize - sw {
  cursor:url(../cursor/nesw-resize.cur), nesw - resize !important;
}
.hoverborder__resize - w {
  cursor:url(../cursor/ew-resize.cur), ew - resize !important;
}
.hoverborder__resize - nw {
  cursor:url(../cursor/nwse-resize.cur), nwse - resize !important;
}
/* ----------------------- */
.ui - list__btn - inline {
  cursor:url(../cursor/pointer.cur), pointer !important;
}
.ui - search__row {
  cursor:url(../cursor/pointer.cur), pointer !important;
}
.ui - tab__btn - tab - head {
  cursor:url(../cursor/pointer.cur), pointer !important;
}
.ui - prof__btn - cycle {
  cursor:url(../cursor/pointer.cur), pointer !important;
}
.ui - prof__btn - cycle.disabled {
  cursor:url(../cursor/normal.cur), default !important;
}
.ui - dir__face {
  cursor:url(../cursor/grab.cur), grab !important;
}
.ui - drag__patch {
  cursor:url(../cursor/drag.cur), move !important;
}
.ui - tip__parent {
  cursor:url(../cursor/help.cur), help !important;
}
.ui - ctx__row {
  cursor:url(../cursor/pointer.cur), pointer !important;
}
.ui - ctx__row.disabled,
.ui - ctx__row.disabled: hover {
  cursor:url(../cursor/normal.cur), default !important;
}
.ui - pick__btn - remove {
  cursor:url(../cursor/pointer.cur), pointer !important;
}
/* ---- */
button: disabled, input: disabled, select: disabled {
  cursor:url(../cursor/not-allowed.cur), not - allowed !important;
}
.glyphicon.top - border - icon, .glyphicon.delete-icon {
  cursor:url(../cursor/pointer.cur), pointer !important;
}
.render - roller {
  cursor:url(../cursor/pointer.cur), pointer !important;
}
.cfg__btn - tab - header {
  cursor:url(../cursor/pointer.cur), pointer !important;
}
/* ---- */
.manc - sp__is - prepared - caster.manc - sp__is - learn - caster.manc - sp__is - max - learned - spells.manc - sp__btn - learn - spell + .manc - sp__btn - prepare {
  cursor:url(../cursor/not-allowed.cur), not - allowed !important;
}
.manc - sp__is - prepared - caster.manc - sp__is - learn - caster.manc - sp__is - max - learned - spells.manc - sp__btn - learn - spell + .manc - sp__btn - prepare.disabled, .manc - sp__is - prepared - caster.manc - sp__is - learn - caster.manc - sp__is - max - learned - spells.manc - sp__btn - learn - spell + .manc - sp__btn - prepare[disabled]{
  cursor:url(../cursor/not-allowed.cur), not - allowed !important;
}
.manc - sp__is - prepared - caster.manc - sp__is - learn - caster.manc - sp__is - max - learned - spells.manc - sp__btn - learn - spell.active + .manc - sp__btn - prepare {
  cursor:url(../cursor/pointer.cur), pointer !important;
}
.manc - sp__is - prepared - caster.manc - sp__is - learn - caster.manc - sp__is - max - learned - spells.manc - sp__btn - learn - spell.active + .manc - sp__btn - prepare.disabled, .manc - sp__is - prepared - caster.manc - sp__is - learn - caster.manc - sp__is - max - learned - spells.manc - sp__btn - learn - spell.active + .manc - sp__btn - prepare[disabled]{
  cursor:url(../cursor/not-allowed.cur), not - allowed !important;
}
.manc - sp__is - prepared - caster.manc - sp__is - learn - caster.manc - sp__is - max - learned - spells.manc - sp__is - max - prepared - spells.manc - sp__btn - prepare: not(.active) {
  cursor:url(../cursor/not-allowed.cur), not - allowed !important;

}
.manc - sp__is - prepared - caster.manc - sp__is - learn - caster.manc - sp__is - max - learned - spells.manc - sp__is - max - prepared - spells--is - over - limit.manc - sp__btn - prepare.active.disabled, .manc - sp__is - prepared - caster.manc - sp__is - learn - caster.manc - sp__is - max - learned - spells.manc - sp__is - max - prepared - spells--is - over - limit.manc - sp__btn - prepare.active[disabled]{
  cursor:url(../cursor/not-allowed.cur), not - allowed !important;
}
.manc - sp__is - max - learned - cantrips.manc - sp__btn - learn - cantrip: not(.active).disabled, .manc - sp__is - max - learned - cantrips.manc - sp__btn - learn - cantrip: not(.active)[disabled]{
  cursor:url(../cursor/not-allowed.cur), not - allowed !important;
}
.manc - sp__is - max - learned - cantrips--is - over - limit.manc - sp__btn - learn - cantrip.active.disabled, .manc - sp__is - max - learned - cantrips--is - over - limit.manc - sp__btn - learn - cantrip.active[disabled]{
  cursor:url(../cursor/not-allowed.cur), not - allowed !important;
}
.manc - sp__is - max - learned - spells.manc - sp__btn - learn - spell: not(.active) {
  cursor:url(../cursor/not-allowed.cur), not - allowed !important;
}
.manc - sp__is - max - learned - spells.manc - sp__btn - learn - spell: not(.active).disabled, .manc - sp__is - max - learned - spells.manc - sp__btn - learn - spell: not(.active)[disabled]{
  cursor:url(../cursor/not-allowed.cur), not - allowed !important;
}
.manc - sp__is - max - learned - spells--is - over - limit.manc - sp__btn - learn - spell.active.disabled, .manc - sp__is - max - learned - spells--is - over - limit.manc - sp__btn - learn - spell.active[disabled]{
  cursor:url(../cursor/not-allowed.cur), not - allowed !important;
}
.manc - sp__is - max - prepared - spells.manc - sp__btn - prepare: not(.active) {
  cursor:url(../cursor/not-allowed.cur), not - allowed !important;
}
.manc - sp__is - max - prepared - spells.manc - sp__btn - prepare: not(.active).disabled, .manc - sp__is - max - prepared - spells.manc - sp__btn - prepare: not(.active)[disabled]{
  cursor:url(../cursor/not-allowed.cur), not - allowed !important;
}
.manc - sp__is - max - prepared - spells--is - over - limit.manc - sp__btn - prepare.active.disabled, .manc - sp__is - max - prepared - spells--is - over - limit.manc - sp__btn - prepare.active[disabled]{
  cursor:url(../cursor/not-allowed.cur), not - allowed !important;
}