.chat-card-button {
  cursor:url(../cursor/pointer.cur), pointer;
}

body {
  cursor:url(../cursor/normal.cur), default; 
}

a{
  cursor:url(../cursor/pointer.cur), pointer; 
}

.draggable{
  cursor:url(../cursor/drag.cur), move; 
}

#hotbar .macro{
  cursor:url(../cursor/pointer.cur), pointer; 
}

#playlists-popout .global-volume::-webkit-slider-thumb,
    #sidebar #playlists .global-volume::-webkit-slider-thumb {
    cursor:url(../cursor/pointer.cur), pointer;
}
#playlists-popout li.playlist:not(:first-of-type) li.sound .sound-volume::-webkit-slider-thumb,
      #sidebar #playlists li.playlist:not(:first-of-type) li.sound .sound-volume::-webkit-slider-thumb {
        cursor:url(../cursor/pointer.cur), pointer; 
    }

#sidebar #settings button {
    cursor:url(../cursor/pointer.cur), pointer;
}

.app.window-app.sheet.wfrp4e.actor.character-sheet .tab.main.active .main-row .movement.row-section .move-value .auto-calc-toggle {
    cursor:url(../cursor/pointer.cur), pointer;
}

.app.window-app.sheet.wfrp4e.actor.npc-sheet  .main-row .movement.row-section .move-value .auto-calc-toggle {
    cursor:url(../cursor/pointer.cur), pointer;
}

.app.window-app.sheet.wfrp4e.actor.creature-sheet  .main-row .movement.row-section .move-value .auto-calc-toggle {
    cursor:url(../cursor/pointer.cur), pointer;
}

#navigation #scene-list .scene.view, #navigation #scene-list .scene.context {
    cursor:url(../cursor/normal.cur), default; 
}

#navigation #nav-toggle {
    cursor:url(../cursor/normal.cur), default; 
}

#navigation #scene-list .scene.nav-item {
    cursor:url(../cursor/normal.cur), default; 
}

#controls .scene-control.active, #controls .control-tool.active, #controls .scene-control:hover, #controls .control-tool:hover {
    cursor:url(../cursor/normal.cur), default; 
}

#controls .scene-control, #controls .control-tool {
    cursor:url(../cursor/pointer.cur), pointer !important; 
    cursor:url(../cursor/normal.cur), default !important; 
}

.app.window-app .form-group input[type="range"]::-webkit-slider-thumb {
    cursor:url(../cursor/pointer.cur), pointer;
}

.token-sheet .tab[data-tab="image"] input[type="range"]::-webkit-slider-thumb {
    cursor:url(../cursor/pointer.cur), pointer;
}

#drawing-config .tab[data-tab="image"] input[type="range"]::-webkit-slider-thumb {
    cursor:url(../cursor/pointer.cur), pointer;
}

.metacurrency-value {
    cursor:url(../cursor/pointer.cur), pointer;
}

.overcast-button,
.chargen-button {
    cursor:url(../cursor/pointer.cur), pointer;
}

#effects-config .flex2::-webkit-slider-thumb {
    cursor:url(../cursor/pointer.cur), pointer;
}

#client-settings .window-content form .form-group > label,
#client-settings .window-content form .form-group select,
.app.window-app .form-group label,
#sidebar .sidebar-tab #chat-controls div.roll-type-select select,
#sidebar .sidebar-tab #chat-controls div.roll-type-select i.fas {
    cursor:url(../cursor/normal.cur), default; 
}

#client-settings section.content .submenu > button,
#client-settings .window-content button label,
form .form-group .form-fields button,
form button {
    cursor:url(../cursor/pointer.cur), pointer;
}

/* ------------------- */

label {
  cursor:url(../cursor/normal.cur), default;
}

#chat-controls .chat-control-icon {
  cursor:url(../cursor/normal.cur), default;
}

#module-management .package-list .package-title {
  cursor:url(../cursor/pointer.cur), pointer;
}

select {
  cursor:url(../cursor/pointer.cur), pointer;
}

textarea {
  cursor:url(../cursor/text.cur), text;
}

input[type=range] {
  cursor:url(../cursor/pointer.cur), pointer;
}
input[type="checkbox"] {
  cursor:url(../cursor/pointer.cur), pointer;
}

input[type="text"] {
  cursor:url(../cursor/text.cur), text;
}

.window-app .window-resizable-handle {
  cursor:url(../cursor/nwse-resize.cur), nwse-resize;
}

.directory .action-buttons button {
  cursor:url(../cursor/pointer.cur), pointer;
}

#playlists #global-volume .playlist-header h4 {
  cursor:url(../cursor/pointer.cur), pointer;
}

.dialog .dialog-buttons button {
  cursor:url(../cursor/pointer.cur), pointer;
}

/* --- Journal Editor --- */
.tox .tox-toolbar, .tox .tox-toolbar__overflow, .tox .tox-toolbar__primary {
  cursor:url(../cursor/normal.cur), default;
}

.tox.tox-tinymce .tox-tbtn {
  cursor:url(../cursor/pointer.cur), pointer;
}

.tox .tox-tbtn--bespoke .tox-tbtn__select-label{
  cursor:url(../cursor/pointer.cur), pointer;
}

.tox .tox-menu.tox-collection.tox-collection--list{
  cursor:url(../cursor/normal.cur), default;
}

.tox .tox-collection__item {
  cursor:url(../cursor/pointer.cur), pointer !important;
}

/* --- File Picker --- */
.filepicker .directory > li.dir {
  cursor:url(../cursor/pointer.cur), pointer;
}

.filepicker .directory > li {
  cursor:url(../cursor/pointer.cur), pointer;
}

.filepicker .tiles-list li img {
  cursor:url(../cursor/pointer.cur), pointer;
}

input {
  cursor:url(../cursor/pointer.cur), pointer;
}

/* --- Actor Sheet --- */
.dnd5e.sheet.actor.character .resource .attribute-value label.recharge {
  cursor:url(../cursor/pointer.cur), pointer;
}

label.checkbox {
  cursor:url(../cursor/pointer.cur), pointer;
}

.dnd5e.sheet input[type="number"] {
  cursor:url(../cursor/text.cur), text;
}

input[type="number"] {
  cursor:url(../cursor/text.cur), text;
}

.dnd5e.sheet .editable .rollable:hover{
  cursor:url(../cursor/pointer.cur), pointer;
}

.dnd5e.sheet.actor .inventory-list .item .item-name{
  cursor:url(../cursor/pointer.cur), pointer;
}

label.radio {
  cursor:url(../cursor/pointer.cur), pointer;
}
input[type="radio"]{
  cursor:url(../cursor/pointer.cur), pointer;
}

label {cursor:inherit;}

/* --- Modules --- */
/* - Simple Calendar */
.simple-calendar #simpleCalendar .calendar .days .week .day {
  cursor:url(../cursor/pointer.cur), pointer !important;
}

.simple-calendar #simpleCalendar .control {
  cursor:url(../cursor/pointer.cur), pointer !important;
}

.simple-calendar #simpleCalendar .controls .time-controls .row .time-unit .selector {
  cursor:url(../cursor/pointer.cur), pointer !important;
}

.simple-calendar #simpleCalendar .note:hover {
  cursor:url(../cursor/pointer.cur), pointer !important;
}

.simple-calendar-configuration .control {
  cursor:url(../cursor/pointer.cur), pointer !important;
}

/* - Weather Control - */
#weather-control-container .calendar-header {
  cursor:url(../cursor/drag.cur), move !important;
}

#weather-control-container .calendar-header .header-navigation {
  cursor:url(../cursor/normal.cur), default !important;
}

#weather-control-container .icon-btn,
#weather-control-container #season-indicator {
  cursor:url(../cursor/pointer.cur), pointer !important;
}

#weather-container header select {
  cursor:url(../cursor/pointer.cur), pointer !important;
}

#weather-container .weather-refresh {
  cursor:url(../cursor/pointer.cur), pointer !important;
}

#weather-control-container #start-stop-clock {
  cursor:url(../cursor/pointer.cur), pointer !important;
}

#weather-control-container .time-controls li {
  cursor:url(../cursor/pointer.cur), pointer !important;
}

/* - Tidy UI - Game Settings - */
#client-settings.app.window-app.form #config-tabs .tab[data-tab="modules"] .settings-list h2.module-header {
  cursor:url(../cursor/pointer.cur), pointer !important;
}

#client-settings.app.window-app.form #config-tabs .settings-list div.form-group button {
  cursor:url(../cursor/pointer.cur), pointer !important;
}

#client-settings form .form-group label span, #client-settings section.content .submenu > label span {
  cursor:url(../cursor/pointer.cur), pointer !important;
}

#client-settings.app.window-app.form #config-tabs .settings-list div.form-group input[type="checkbox"] {
  cursor:url(../cursor/pointer.cur), pointer !important;
}

#client-settings.app.window-app.form #config-tabs .settings-list div.form-group select {
  cursor:url(../cursor/pointer.cur), pointer !important;
}

#module-management input[type="checkbox"] {
  cursor:url(../cursor/pointer.cur), pointer !important;
}

#module-management button {
  cursor:url(../cursor/pointer.cur), pointer !important;
}

/* - Dice so Nice - */
#dice-configuration-canvas {
  cursor:url(../cursor/pointer.cur), pointer !important;
}

.dice-so-nice .dsn-appearance-tabs span  {
  cursor:url(../cursor/pointer.cur), pointer !important;
}

.dice-so-nice span.dsn-appearance-hint  {
  cursor:url(../cursor/normal.cur), default !important;
}

.dice-so-nice .sfxs-list .sfx-name {
  cursor:url(../cursor/pointer.cur), pointer !important;
}

.dice-so-nice .select2-container--default .select2-selection--multiple {
  cursor:url(../cursor/text.cur), text !important;
}

.dice-so-nice .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  cursor:url(../cursor/pointer.cur), pointer !important;
}

.dice-so-nice .select2-container--default .select2-selection--multiple .select2-selection__choice__display {
  cursor:url(../cursor/normal.cur), default !important;
}
